@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: 'Roboto', system-ui, Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
  color: aliceblue;
}


